@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', serif;
  line-height: 1.3; }

body,
p,
a {
  font-family: 'Lato', sans-serif; }

a,
button {
  cursor: pointer;
  text-decoration: none;
  transition: 0.35s ease-in-out;
  color: #333; }

ul {
  list-style: none; }

img {
  width: 100%; }

.container {
  max-width: 1200px;
  width: 90%;
  padding: 0 1rem;
  margin: 0 auto;
  overflow: hidden; }

.line-clamped {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.25s; }
  .line-clamped-3 {
    -webkit-line-clamp: 3; }
  .line-clamped-4 {
    -webkit-line-clamp: 4; }
  .line-clamped-5 {
    -webkit-line-clamp: 5; }

.section-title {
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 1.2px;
  color: #f79930;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center; }

.section-subtitle {
  font-size: 2rem;
  letter-spacing: 1.2px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize; }

.asBox {
  padding: 30px;
  margin-bottom: 1.875em;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); }

.form-input {
  padding: 0.75rem 1rem;
  border: 1px solid #b3b3b3;
  width: 100% !important;
  outline: none;
  border-radius: 2px;
  background: white;
  font-size: 1.1rem;
  font-family: 'Lato', sans-serif; }

.lead {
  font-weight: 500;
  font-size: 1.2rem;
  color: #333; }

.text-primary {
  color: #f79930; }

.text-secondary {
  color: #1a3649; }

.card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 3px 6px rgba(59, 65, 94, 0.1), 0px 7px 14px rgba(0, 0, 0, 0.07); }

.bg-light {
  background: #f4f4f4;
  color: #333; }

.bg-dark {
  background: #333;
  color: #fff; }

.bg-primary {
  background: #f79930;
  color: #fff; }

.bg-secondary {
  background: #1a3649;
  color: #fff; }

.category {
  margin-bottom: 0.5rem;
  padding: 0.4rem 0.6rem;
  text-transform: uppercase;
  font-size: 0.55rem;
  border-radius: 2px;
  color: #333;
  font-weight: bold;
  letter-spacing: 1.2px;
  display: inline-block;
  background: #ccc; }

.rec-carousel {
  position: relative;
  z-index: 1; }

.rec-slider-container.cukhLH {
  margin: 0; }

.rec-pagination {
  position: relative;
  top: -60px;
  margin-top: 0;
  z-index: 2; }
  .rec-pagination.bkVSTc {
    margin-top: 0px; }
  .rec-pagination button.rec-dot {
    margin-right: 0.35rem;
    width: 15px;
    height: 15px;
    background: #1a3649;
    box-shadow: 0 0 1px 2px #ccc; }
    .rec-pagination button.rec-dot_active {
      background-color: #1a3649;
      box-shadow: 0 0 2px 4px #f79930; }

.py-0 {
  padding: 0.5rem 0; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.py-4 {
  padding: 3rem 0; }

.btn {
  padding: 0.65rem 0.85rem;
  outline: none;
  border: none;
  font-weight: 500;
  background: #f4f4f4;
  color: #333;
  display: inline-block;
  text-transform: uppercase;
  transition: 0.35s ease-in-out !important; }
  .btn:hover {
    background: #dbdbdb; }
  .btn-primary {
    background: #f79930;
    color: white; }
    .btn-primary:hover {
      background: #eb8009; }
    .btn-primary-outlined {
      background: none;
      color: #f79930;
      border-radius: 3px;
      border: 2px solid #f79930; }
      .btn-primary-outlined:hover {
        background: #f79930;
        color: #111; }
  .btn-secondary {
    background: #1a3649;
    color: #fff; }
    .btn-secondary:hover {
      background: #0d1a23; }
    .btn-secondary-outlined {
      background: none;
      border-radius: 3px;
      border: 2px solid #1a3649; }
      .btn-secondary-outlined:hover {
        background: #1a3649;
        color: #fff; }
  .btn-dark {
    background: #333;
    color: #fff; }
    .btn-dark:hover {
      background: #1a1a1a; }
    .btn-dark-outlined {
      background: none;
      border-radius: 3px;
      border: 2px solid #333; }
      .btn-dark-outlined:hover {
        background: #333;
        color: #fff; }
  .btn-light {
    background: #f4f4f4;
    color: #111; }
    .btn-light:hover {
      background: #dbdbdb; }
    .btn-light-outlined {
      letter-spacing: 1.1px;
      background: none;
      border-radius: 3px;
      border: 2px solid #f4f4f4;
      color: #f4f4f4; }
      .btn-light-outlined:hover {
        background: #f4f4f4;
        color: #111; }
  .btn-small {
    padding: 0.5rem 0.75rem; }
  .btn-medium {
    padding: 0.75rem 1.25rem; }
  .btn-large {
    font-weight: 600;
    padding: 1.25rem 2rem;
    letter-spacing: 1.1px; }
  .btn-block {
    width: 100%; }

.screen-home {
  min-height: 80vh; }
  .screen-home #showcase-wrapper,
  .screen-home .showcase-wrapper {
    position: relative;
    height: 85vh;
    width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;
    margin: 1rem;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center 70%;
    overflow: hidden; }
    .screen-home #showcase-wrapper::before,
    .screen-home .showcase-wrapper::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.35);
      background: linear-gradient(to right, rgba(0, 0, 0, 0.35) 20%, rgba(28, 56, 74, 0.1) 100%);
      z-index: 1; }
    .screen-home #showcase-wrapper .container,
    .screen-home .showcase-wrapper .container {
      position: relative;
      z-index: 2;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .screen-home #showcase-wrapper .showcase__info,
    .screen-home .showcase-wrapper .showcase__info {
      max-width: 900px;
      text-align: center; }
      .screen-home #showcase-wrapper .showcase__info h1,
      .screen-home .showcase-wrapper .showcase__info h1 {
        letter-spacing: 1.5px;
        color: #f4f4f4;
        font-weight: 800;
        font-size: 2.5rem;
        font-family: 'Roboto Slab', serif;
        font-family: 'Montserrat', serif;
        padding: 1rem 0; }
      .screen-home #showcase-wrapper .showcase__info .lead,
      .screen-home .showcase-wrapper .showcase__info .lead {
        width: 90%;
        margin: auto;
        text-align: center;
        color: #f4f4f4;
        font-weight: 500;
        letter-spacing: 1px; }
      .screen-home #showcase-wrapper .showcase__info .icon,
      .screen-home .showcase-wrapper .showcase__info .icon {
        background: #f79930;
        display: inline-block;
        padding: 1rem;
        border-radius: 50%;
        margin-top: 1rem; }
        .screen-home #showcase-wrapper .showcase__info .icon svg,
        .screen-home .showcase-wrapper .showcase__info .icon svg {
          width: 2.15rem;
          height: 2rem;
          fill: #f4f4f4; }
      .screen-home #showcase-wrapper .showcase__info .cta,
      .screen-home .showcase-wrapper .showcase__info .cta {
        padding: 2rem 0; }
        .screen-home #showcase-wrapper .showcase__info .cta a,
        .screen-home .showcase-wrapper .showcase__info .cta a {
          margin-right: 1rem; }
  .screen-home #about-news.about-news .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    margin: auto;
    padding: 2rem 0; }
  .screen-home #about .section-title, .screen-home #about .section-subtitle,
  .screen-home .about .section-title,
  .screen-home .about .section-subtitle {
    text-align: left; }
  .screen-home #about .info p,
  .screen-home .about .info p {
    padding: 2rem 0;
    font-weight: 500;
    font-size: 1.2rem; }
  .screen-home #news .list-heading,
  .screen-home .news .list-heading {
    padding: 1rem 1.5rem;
    font-weight: 600;
    color: #f4f4f4;
    font-size: 1.2rem;
    background: #1a3649; }
  .screen-home #projects,
  .screen-home .projects {
    padding: 4rem 0;
    background: #122838;
    color: #f4f4f4;
    text-align: center; }
    .screen-home #projects .section-title,
    .screen-home .projects .section-title {
      color: #f79930; }
    .screen-home #projects .items,
    .screen-home .projects .items {
      margin: 2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem; }
      .screen-home #projects .items .item,
      .screen-home .projects .items .item {
        text-align: left;
        padding: 2rem 2.5rem;
        background: linear-gradient(180deg, #163041 10%, rgba(54, 54, 54, 0) 41.19%), linear-gradient(0deg, #122838 0%, #1a3649) 0%;
        border-radius: 10px;
        box-shadow: 2px 20px 30px -15px rgba(11, 26, 36, 0.8); }
        .screen-home #projects .items .item h3,
        .screen-home .projects .items .item h3 {
          font-size: 1.5rem;
          font-weight: 500; }
        .screen-home #projects .items .item p,
        .screen-home .projects .items .item p {
          line-height: 1.5;
          font-size: 1.2rem;
          font-weight: 300;
          padding: 1rem 0;
          color: #c1c1c1; }
        .screen-home #projects .items .item a,
        .screen-home .projects .items .item a {
          font-weight: 500;
          text-transform: uppercase;
          color: #f4f4f4;
          font-size: 0.8rem;
          letter-spacing: 1.1px;
          display: flex;
          align-items: center; }
          .screen-home #projects .items .item a i,
          .screen-home .projects .items .item a i {
            margin-left: 0.5rem;
            color: #f79930; }
          .screen-home #projects .items .item a:hover,
          .screen-home .projects .items .item a:hover {
            color: #f79930; }
      .screen-home #projects .items + div,
      .screen-home .projects .items + div {
        padding: 1rem; }
  .screen-home #get-involved,
  .screen-home .get-involved {
    padding: 4rem 0; }
    .screen-home #get-involved .items,
    .screen-home .get-involved .items {
      margin-top: 4rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem; }
      .screen-home #get-involved .items .item,
      .screen-home .get-involved .items .item {
        text-align: left;
        padding: 2rem 2rem;
        border-radius: 10px;
        overflow: visible;
        text-align: center;
        transition: 0.5s; }
        .screen-home #get-involved .items .item .icon,
        .screen-home .get-involved .items .item .icon {
          position: relative;
          background: #f79930;
          width: 70px;
          height: 70px;
          margin: auto;
          margin-top: -60px;
          margin-bottom: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          border-radius: 50%;
          color: #f4f4f4; }
          .screen-home #get-involved .items .item .icon::before,
          .screen-home .get-involved .items .item .icon::before {
            content: '';
            position: absolute;
            top: 5px;
            left: 5px;
            width: 54px;
            height: 54px;
            border-radius: 50%;
            z-index: 1;
            background: none;
            border: 3px solid #f4f4f4; }
          .screen-home #get-involved .items .item .icon i,
          .screen-home .get-involved .items .item .icon i {
            position: relative;
            z-index: 2; }
        .screen-home #get-involved .items .item h3,
        .screen-home .get-involved .items .item h3 {
          font-size: 1.5rem;
          font-weight: 700;
          text-transform: uppercase;
          color: #1a3649; }
        .screen-home #get-involved .items .item p,
        .screen-home .get-involved .items .item p {
          line-height: 1.4;
          font-size: 1.2rem;
          font-weight: 400;
          padding: 1rem 0 2rem;
          color: #8e8e8e; }
        .screen-home #get-involved .items .item a,
        .screen-home .get-involved .items .item a {
          font-weight: 500;
          text-transform: uppercase;
          font-size: 0.8rem;
          letter-spacing: 1.1px;
          display: flex;
          align-items: center;
          justify-content: center; }
          .screen-home #get-involved .items .item a:hover,
          .screen-home .get-involved .items .item a:hover {
            color: #1a3649; }
        .screen-home #get-involved .items .item:hover,
        .screen-home .get-involved .items .item:hover {
          background: linear-gradient(180deg, #f4f4f4 10%, #f4f4f4 41.19%), linear-gradient(0deg, #122838 0%, #1a3649) 0%;
          box-shadow: 2px 20px 30px -15px rgba(11, 26, 36, 0.8); }
  .screen-home #help-us,
  .screen-home .help-us {
    position: relative;
    background-color: #f79930;
    height: 200px; }
    .screen-home #help-us .container,
    .screen-home .help-us .container {
      position: relative;
      z-index: 1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #f4f4f4;
      background-position: 50% 50%; }
      .screen-home #help-us .container h1,
      .screen-home .help-us .container h1 {
        font-size: 2rem;
        text-transform: uppercase;
        color: #1a3649; }
      .screen-home #help-us .container .lead,
      .screen-home .help-us .container .lead {
        margin-top: 1rem;
        margin-bottom: 2rem;
        color: #1a3649;
        font-weight: bold; }
    .screen-home #help-us::before,
    .screen-home .help-us::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(to right, rgba(247, 153, 44, 0.8) 0%, rgba(247, 153, 48, 0.5) 15%, rgba(247, 153, 48, 0.3) 30%, rgba(247, 153, 48, 0.8) 80%), linear-gradient(to bottom, rgba(247, 153, 48, 0) 0%, rgba(247, 153, 48, 0) 40%, rgba(247, 153, 48, 0.8) 100%); }

.screen-news {
  background: #edf2f9; }
  .screen-news .news-showcase {
    position: relative;
    z-index: 1 !important;
    height: 60vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% -92.3428px; }
    .screen-news .news-showcase::before {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      background: linear-gradient(to right, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0) 15%, rgba(24, 24, 24, 0) 30%, rgba(24, 24, 24, 0) 80%), linear-gradient(to bottom, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.3) 40%, rgba(24, 24, 24, 0.6) 100%); }
    .screen-news .news-showcase .container {
      position: relative;
      padding-top: 2rem;
      height: 70%;
      padding: 0 2rem;
      color: white; }
      .screen-news .news-showcase .container h1 {
        font-size: 3rem; }
      .screen-news .news-showcase .container h3 {
        margin-bottom: 1rem; }
      .screen-news .news-showcase .container a {
        margin-top: 1.5rem; }
      .screen-news .news-showcase .container div.bottom {
        position: absolute;
        bottom: 0; }
  .screen-news .articles-container {
    background: #fff;
    border-radius: 5px;
    margin-top: -4rem;
    padding: 2rem;
    position: relative;
    z-index: 5 !important; }
    .screen-news .articles-container .top-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem; }
      .screen-news .articles-container .top-section h1 {
        font-size: 2rem; }
    .screen-news .articles-container .articles-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem; }
      .screen-news .articles-container .articles-wrapper article {
        overflow: hidden; }
        .screen-news .articles-container .articles-wrapper article.card {
          box-sizing: border-box;
          border: solid 1px #e5e5e5;
          transition: 0.5s;
          box-shadow: none; }
          .screen-news .articles-container .articles-wrapper article.card:hover {
            box-shadow: 0px 6px 12px rgba(59, 65, 94, 0.3), 0px 14px 28px rgba(0, 0, 0, 0.17); }
            .screen-news .articles-container .articles-wrapper article.card:hover img {
              transform: scale(1.05); }
        .screen-news .articles-container .articles-wrapper article:nth-child(2) .content {
          background: rgba(26, 54, 73, 0.8);
          color: #f4f4f4;
          height: 100%; }
        .screen-news .articles-container .articles-wrapper article:nth-child(2) a h3:hover {
          color: #f79930 !important; }
        .screen-news .articles-container .articles-wrapper article:nth-child(2) h3 {
          color: #f4f4f4; }
        .screen-news .articles-container .articles-wrapper article:nth-child(2) .category {
          background: #27526f !important;
          color: #f4f4f4; }
        .screen-news .articles-container .articles-wrapper article:nth-child(6) {
          color: #f4f4f4;
          padding: 0; }
          .screen-news .articles-container .articles-wrapper article:nth-child(6) .content {
            height: 100%;
            background: rgba(247, 153, 48, 0.8); }
          .screen-news .articles-container .articles-wrapper article:nth-child(6) .category {
            background: #eb8009 !important;
            color: #f4f4f4; }
          .screen-news .articles-container .articles-wrapper article:nth-child(6) a h3:hover {
            color: #27526f; }
          .screen-news .articles-container .articles-wrapper article:nth-child(6) p {
            color: #333; }
          .screen-news .articles-container .articles-wrapper article:nth-child(6) .continue-btn {
            color: #666666; }
        .screen-news .articles-container .articles-wrapper article:nth-child(2), .screen-news .articles-container .articles-wrapper article:nth-child(6) {
          position: relative; }
          .screen-news .articles-container .articles-wrapper article:nth-child(2) img, .screen-news .articles-container .articles-wrapper article:nth-child(6) img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1; }
          .screen-news .articles-container .articles-wrapper article:nth-child(2) .content, .screen-news .articles-container .articles-wrapper article:nth-child(6) .content {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2; }
        .screen-news .articles-container .articles-wrapper article:first-child, .screen-news .articles-container .articles-wrapper article:nth-child(7) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-column: 1 / span 2; }
          .screen-news .articles-container .articles-wrapper article:first-child img, .screen-news .articles-container .articles-wrapper article:nth-child(7) img {
            height: 100%; }
        .screen-news .articles-container .articles-wrapper article:nth-child(7) {
          grid-column: 2 / span 2; }
        .screen-news .articles-container .articles-wrapper article .image-wrapper {
          overflow: hidden; }
          .screen-news .articles-container .articles-wrapper article .image-wrapper img {
            width: 100%;
            object-fit: cover;
            max-height: 250px;
            transition: 0.5s; }
        .screen-news .articles-container .articles-wrapper article .content {
          padding: 1.5rem; }
          .screen-news .articles-container .articles-wrapper article .content h3 {
            margin-bottom: 0.5rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: 0.25s; }
          .screen-news .articles-container .articles-wrapper article .content a {
            color: #333;
            transition: 0.25s; }
            .screen-news .articles-container .articles-wrapper article .content a:hover {
              color: #f79930; }
          .screen-news .articles-container .articles-wrapper article .content p {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis; }
          .screen-news .articles-container .articles-wrapper article .content .continue-btn {
            padding: 0.5rem 0;
            display: inline-block;
            border-radius: 3px;
            color: #8cb8d6; }
            .screen-news .articles-container .articles-wrapper article .content .continue-btn i {
              margin-left: 0.5rem; }
  .screen-news .article-wrapper {
    background: #fff !important; }
    .screen-news .article-wrapper .caption {
      position: relative;
      z-index: 1;
      padding: 3rem 0;
      background: #eeeeee; }
      .screen-news .article-wrapper .caption h1 {
        font-size: 2.5rem;
        color: #1a3649;
        margin-bottom: 2rem; }
      .screen-news .article-wrapper .caption .container {
        padding: 0 2rem; }
    .screen-news .article-wrapper .content {
      position: relative;
      margin-top: -2rem;
      margin-bottom: 4rem;
      z-index: 2; }
      .screen-news .article-wrapper .content .container {
        display: grid;
        grid-template-columns: 3fr 1.25fr;
        gap: 2rem; }
    .screen-news .article-wrapper main {
      position: relative;
      background: #fff;
      border-radius: 3px; }
      .screen-news .article-wrapper main article {
        border: solid 2px #e5e5e5;
        color: #4d4d4d;
        font-size: 1.2rem;
        padding: 2rem 3rem;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); }
    .screen-news .article-wrapper aside {
      margin-top: 2rem; }
      .screen-news .article-wrapper aside .widget-categories {
        background: #fff;
        margin-top: 2rem;
        padding: 30px;
        overflow: hidden;
        border: solid 1px #ccc;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); }
        .screen-news .article-wrapper aside .widget-categories h3 {
          margin-bottom: 1rem;
          font-size: 1.3rem;
          color: #1a3649; }
        .screen-news .article-wrapper aside .widget-categories ul li {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          padding: 0.7rem 0; }
          .screen-news .article-wrapper aside .widget-categories ul li a {
            line-height: 1.35;
            color: #333;
            outline: none;
            font-weight: 400;
            position: relative;
            transform-origin: 0 0;
            transition: 300ms ease; }
            .screen-news .article-wrapper aside .widget-categories ul li a::after {
              content: '';
              display: block;
              width: 30px;
              border-top: 1px solid #f79930;
              position: absolute;
              left: -60px;
              top: 50%;
              transform-origin: inherit;
              transition: inherit; }
            .screen-news .article-wrapper aside .widget-categories ul li a:hover {
              padding-left: 10px;
              color: #f79930; }
              .screen-news .article-wrapper aside .widget-categories ul li a:hover::after {
                left: -30px; }
          .screen-news .article-wrapper aside .widget-categories ul li:last-child {
            border-bottom: none; }
      .screen-news .article-wrapper aside .widget-recent-post {
        /* Right Content - Recent Article */ }
        .screen-news .article-wrapper aside .widget-recent-post h3 {
          margin-bottom: 1rem;
          font-size: 1.3rem;
          color: #1a3649; }
        .screen-news .article-wrapper aside .widget-recent-post .item {
          display: grid;
          grid-template-columns: 65px 1fr;
          gap: 0.75rem;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          padding: 1rem 0; }
          .screen-news .article-wrapper aside .widget-recent-post .item:last-child {
            border-bottom: none; }
          .screen-news .article-wrapper aside .widget-recent-post .item > a {
            overflow: hidden; }
            .screen-news .article-wrapper aside .widget-recent-post .item > a img {
              width: 100%;
              height: 65px;
              margin-right: 1.2rem;
              transition: 0.35s ease-in-out;
              object-fit: cover; }
            .screen-news .article-wrapper aside .widget-recent-post .item > a:hover img {
              transform: scale(1.25); }
          .screen-news .article-wrapper aside .widget-recent-post .item h4 {
            color: inherit;
            font-size: 0.85rem;
            line-height: 1.4; }
          .screen-news .article-wrapper aside .widget-recent-post .item .date {
            display: flex;
            font-size: 0.85rem;
            color: #595959;
            margin-bottom: 0.25rem; }
            .screen-news .article-wrapper aside .widget-recent-post .item .date i {
              margin-right: 0.5rem; }
            .screen-news .article-wrapper aside .widget-recent-post .item .date + a:hover {
              color: #f79930; }

.main-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  color: #333;
  height: 75px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f79930;
  background: linear-gradient(to right, rgba(247, 153, 44, 0.8) 20%, rgba(247, 153, 48, 0.5) 50%, rgba(247, 153, 48, 0.7) 80%, rgba(247, 153, 48, 0.9) 100%), linear-gradient(to bottom, rgba(247, 153, 48, 0.6) 50%, rgba(247, 153, 48, 0.8) 100%);
  box-shadow: 9px 9px 16px rgba(26, 54, 73, 0.25); }
  .main-header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .main-header .brand {
    display: flex;
    align-items: center; }
    .main-header .brand h1 {
      font-weight: 900;
      font-family: 'Merriweather', serif;
      color: #fff;
      font-size: 2rem;
      color: #1a3649;
      text-transform: uppercase;
      letter-spacing: 3px; }
  .main-header .asScreen-navigation-links {
    height: 100%; }
    .main-header .asScreen-navigation-links ul {
      height: 100%; }
    .main-header .asScreen-navigation-links a::after {
      background: #333; }
    .main-header .asScreen-navigation-links a:hover {
      color: #333; }
      .main-header .asScreen-navigation-links a:hover::after {
        width: 0; }
    .main-header .asScreen-navigation-links a.active {
      color: #333; }
  .main-header ul.auth-links {
    display: flex;
    justify-content: flex-end; }
    .main-header ul.auth-links li {
      margin-right: 1rem; }

.form-group {
  color: #333;
  font-size: 1.1rem;
  margin-bottom: 0.75rem; }
  .form-group label {
    display: block;
    margin-bottom: 0.5rem; }
  .form-group input,
  .form-group textarea {
    padding: 0.75rem 1rem;
    border: 1px solid #b3b3b3;
    width: 100% !important;
    outline: none;
    border-radius: 3px;
    background: white;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif; }
  .form-group textarea {
    min-height: 200px; }

.form-row {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(250px, 1fr)); }

.status-bar {
  background: #1a3649; }
  .status-bar .container {
    margin: auto;
    height: 40px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .status-bar .call {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: #f79930;
    font-weight: bold; }
    .status-bar .call a {
      color: inherit;
      font-weight: 400; }
      .status-bar .call a i {
        margin-right: 0.5rem; }
      .status-bar .call a:hover {
        color: #f4f4f4; }
  .status-bar .social {
    border-radius: 5px; }
    .status-bar .social a {
      display: inline-block;
      border-radius: 50%;
      margin-left: 1.75rem;
      transition: 0.35s;
      color: #f79930; }
      .status-bar .social a i {
        transition: 0.35s; }
      .status-bar .social a:hover i {
        color: #f4f4f4; }

.asScreen-navigation-links ul {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .asScreen-navigation-links ul li {
    margin-left: 2rem; }
  .asScreen-navigation-links ul a {
    color: #f4f4f4;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1.2px;
    position: relative; }
    .asScreen-navigation-links ul a:after {
      content: '';
      width: 0;
      height: 1px;
      position: absolute;
      bottom: -3px;
      left: 0;
      background: #f79930;
      transition: 0.3s; }
    .asScreen-navigation-links ul a:hover {
      color: #f79930; }
      .asScreen-navigation-links ul a:hover::after {
        width: 100%; }
    .asScreen-navigation-links ul a.active {
      font-weight: 700;
      color: #f79930; }
      .asScreen-navigation-links ul a.active::after {
        width: 100%; }

.as-section-volunteer {
  position: relative;
  min-height: 400px;
  background-color: #f79930;
  height: 400px; }
  .as-section-volunteer .container {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #f4f4f4;
    background-position: 50% 50%; }
    .as-section-volunteer .container h1 {
      font-size: 3rem;
      text-transform: uppercase;
      color: #1a3649; }
    .as-section-volunteer .container .lead {
      margin-top: 1rem;
      margin-bottom: 2rem;
      color: #1a3649;
      font-weight: bold; }
  .as-section-volunteer::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(247, 153, 44, 0.8) 0%, rgba(247, 153, 48, 0.5) 15%, rgba(247, 153, 48, 0.3) 30%, rgba(247, 153, 48, 0.8) 80%), linear-gradient(to bottom, rgba(247, 153, 48, 0) 0%, rgba(247, 153, 48, 0) 40%, rgba(247, 153, 48, 0.8) 100%); }

.main-footer {
  background: #f79930;
  border-bottom: 5px solid #f69221; }
  .main-footer h1 {
    font-weight: 500;
    font-size: 1.5 rem;
    color: white;
    text-align: center;
    text-transform: capitalize; }
  .main-footer .lead {
    max-width: 800px;
    text-align: center;
    padding: 1rem 0 2rem;
    width: 100;
    margin: auto;
    color: #f4f4f4; }
  .main-footer .contact .items {
    margin: auto;
    padding: 0rem 0 2rem; }
    .main-footer .contact .items .container {
      display: flex;
      align-items: center;
      justify-content: center; }
    .main-footer .contact .items .icon {
      background: #1a3649;
      padding: 0.65rem;
      border-radius: 50%;
      margin-right: 0.75rem;
      border: 2px solid #1a3649;
      transition: 0.35s; }
      .main-footer .contact .items .icon svg {
        width: 1.75rem;
        height: 1.5rem;
        fill: #f79930;
        transition: 0.35s; }
    .main-footer .contact .items .call,
    .main-footer .contact .items .location {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      margin-right: 2rem;
      color: #f4f4f4; }
      .main-footer .contact .items .call:hover .icon,
      .main-footer .contact .items .location:hover .icon {
        background: transparent; }
      .main-footer .contact .items .call:hover svg,
      .main-footer .contact .items .location:hover svg {
        fill: #1a3649; }
    .main-footer .contact .items .social {
      border: 2px solid #1a3649;
      border-radius: 5px;
      padding: 0.5rem 1rem; }
      .main-footer .contact .items .social a {
        display: inline-block;
        background: #f79930;
        padding: 0.5rem;
        border-radius: 50%;
        margin-right: 0.75rem;
        transition: 0.35s; }
        .main-footer .contact .items .social a svg {
          width: 1.75rem;
          height: 1.5rem;
          fill: #1a3649;
          transition: 0.35s; }
        .main-footer .contact .items .social a:last-child {
          margin-right: 0; }
        .main-footer .contact .items .social a:hover {
          background: #1a3649; }
          .main-footer .contact .items .social a:hover svg {
            fill: #f79930; }
  .main-footer .contact .form-wrapper {
    background: #f4f4f4;
    padding: 2rem;
    border-radius: 5px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 4rem; }
  .main-footer .contact .form h1 {
    color: #1a3649;
    margin-bottom: 1rem; }
  .main-footer .contact .form .submit-btn-wrapper {
    display: flex;
    justify-content: flex-end; }
  .main-footer .boxes {
    background: #1a3649;
    color: #f4f4f4;
    padding: 4rem 0; }
    .main-footer .boxes .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem; }
    .main-footer .boxes h1.footer-heading {
      display: flex;
      align-items: center;
      padding: 1rem 0;
      font-size: 1.5rem;
      text-align: left;
      margin-bottom: 1rem;
      border-bottom: 1px solid #27526f;
      font-weight: 500; }
      .main-footer .boxes h1.footer-heading i {
        font-size: 2rem;
        margin-right: 1rem;
        color: #f79930; }
    .main-footer .boxes .about p {
      line-height: 1.4; }
    .main-footer .boxes .about .contact {
      padding: 2rem 0;
      border-bottom: 1px solid #27526f; }
      .main-footer .boxes .about .contact > div:first-child {
        margin-bottom: 1rem; }
      .main-footer .boxes .about .contact a {
        display: flex;
        align-items: center;
        color: #f4f4f4;
        text-transform: uppercase;
        font-size: 0.85rem;
        transition: 0.35s; }
        .main-footer .boxes .about .contact a .icon {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #f79930;
          border-radius: 50%;
          color: #f79930;
          margin-right: 1rem;
          transition: 0.35s; }
        .main-footer .boxes .about .contact a:hover {
          color: #f79930; }
          .main-footer .boxes .about .contact a:hover div {
            background: #f79930;
            color: #f4f4f4; }
    .main-footer .boxes .about .social {
      padding: 2rem 0;
      display: flex; }
      .main-footer .boxes .about .social a {
        border-radius: 50%;
        margin-right: 0.5rem;
        transition: 0.35s;
        padding: 0.5rem;
        font-size: 1.25rem;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #1a3649;
        background: #f79930; }
        .main-footer .boxes .about .social a i {
          transition: 0.35s; }
        .main-footer .boxes .about .social a:hover {
          background: #1a3649;
          border: 1px solid #f79930; }
          .main-footer .boxes .about .social a:hover i {
            color: #f79930; }
    .main-footer .boxes .widget-recent-post .item {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 0.75rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 1rem 0; }
      .main-footer .boxes .widget-recent-post .item:last-child {
        border-bottom: none; }
      .main-footer .boxes .widget-recent-post .item > a {
        overflow: hidden; }
        .main-footer .boxes .widget-recent-post .item > a img {
          width: 100%;
          height: 100px;
          margin-right: 1.2rem;
          transition: 0.35s ease-in-out;
          object-fit: cover;
          transform-origin: center center; }
        .main-footer .boxes .widget-recent-post .item > a:hover img {
          transform: scale(1.25); }
      .main-footer .boxes .widget-recent-post .item > a + div a {
        color: #f4f4f4; }
        .main-footer .boxes .widget-recent-post .item > a + div a h4 {
          color: inherit;
          font-size: 0.9rem;
          line-height: 1.4;
          font-weight: 500;
          font-family: 'Montserrat', sans-serif; }
      .main-footer .boxes .widget-recent-post .item .date {
        display: flex;
        font-size: 0.85rem;
        color: #999999;
        margin-bottom: 0.25rem; }
        .main-footer .boxes .widget-recent-post .item .date a {
          color: #f4f4f4; }
        .main-footer .boxes .widget-recent-post .item .date i {
          margin-right: 0.5rem; }
        .main-footer .boxes .widget-recent-post .item .date + a:hover {
          color: #f79930; }
    .main-footer .boxes .widget-newsletter form {
      display: grid;
      grid-template-columns: 1fr auto;
      margin-bottom: 2rem; }
      .main-footer .boxes .widget-newsletter form input {
        border-radius: 3px; }
      .main-footer .boxes .widget-newsletter form .btn {
        margin-left: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center; }
      .main-footer .boxes .widget-newsletter form ::placeholder {
        font-size: 0.85rem; }
    .main-footer .boxes .widget-footer-categories ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem 30px; }
      .main-footer .boxes .widget-footer-categories ul li a {
        width: 100%;
        overflow: hidden;
        line-height: 1.35;
        color: #f4f4f4;
        outline: none;
        font-weight: 400;
        position: relative;
        transform-origin: 0 0;
        text-transform: uppercase;
        font-size: 0.8rem;
        transition: 300ms ease; }
        .main-footer .boxes .widget-footer-categories ul li a::after {
          content: '';
          display: block;
          width: 0px;
          border-top: 1px solid #f79930;
          position: absolute;
          left: -30px;
          top: 50%;
          transform-origin: inherit;
          transition: inherit; }
        .main-footer .boxes .widget-footer-categories ul li a:hover {
          padding-left: 15px;
          color: #f79930; }
          .main-footer .boxes .widget-footer-categories ul li a:hover::after {
            width: 30px; }
      .main-footer .boxes .widget-footer-categories ul li:last-child {
        border-bottom: none; }
  .main-footer .bottom {
    background: #122838;
    color: #f4f4f4; }
    .main-footer .bottom .container {
      padding: 1.5rem 0rem;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .main-footer .bottom .copyright {
      font-weight: 500;
      font-size: 0.8rem; }
      .main-footer .bottom .copyright + p {
        padding: 0.5rem 0;
        font-weight: lighter;
        font-size: 0.75rem; }

.pagination {
  margin: 2rem 0;
  padding: 1rem 2rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px; }
  .pagination .boxes {
    display: flex; }
  .pagination button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: none;
    padding: 1rem;
    margin: 0 0.25rem;
    border: solid 1px #1a3649;
    border-radius: 2px;
    transition: 0.5s;
    font-weight: bold;
    color: #1a3649; }
    .pagination button:hover {
      background: #f79930; }
    .pagination button.active {
      background-color: #f79930;
      border: none; }
  .pagination .next,
  .pagination .prev {
    margin: 0 3rem; }
