// * Config
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

// * Variables
$primary-color: #f79930;
$secondary-color: #1a3649;
$light: #f3f3f3;
$dark: #333;
$medium: #ccc;
$ent-color: #a66bee;
$sport-color: red;
$tech-color: #009cff;
$max-width: 1200px;

// * Mixins

// * Functions
// Set text color
@function setTextColor($color) {
  @if (lightness($color) > 50) {
    @return #111;
  } @else {
    @return #fff;
  }
}

// * Resets
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', sans-serif;
  line-height: 1.3;
}

body,
p,
a {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// * Utility Classes.
.container {
  max-width: $max-width;
  width: 90%;
  padding: 0 1rem;
  margin: 0 auto;
  overflow: hidden;
}

.lead {
  font-weight: 500;
  letter-spacing: 1.2px;
  font-size: 1.2rem;
  color: $dark;
}

.text {
  &-primary {
    color: $primary-color;
  }
  &-secondary {
    color: $secondary-color;
  }
}

.card {
  background: #fff;
}

.bg {
  &-light {
    background: $light;
    color: $dark;
  }

  &-dark {
    background: $dark;
    color: #fff;
  }
  &-primary {
    background: $primary-color;
    color: #fff;
  }

  &-secondary {
    background: $secondary-color;
    color: #fff;
  }
}

.category {
  margin-bottom: 0.5rem;
  padding: 0.4rem 0.6rem;
  text-transform: uppercase;
  font-size: 0.55rem;
  border-radius: 15px;
  color: #fff;
  display: inline-block;

  &-sports {
    background: &sport-color;
  }
  &-tech {
    background: &tech-color;
  }
  &-ent {
    background: &ent-color;
  }
}

.py-1 {
  padding: 1rem;
}
.py-2 {
  padding: 2rem;
}
.py-3 {
  padding: 3rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.btn {
  padding: 0.65rem 0.85rem;
  outline: none;
  border: none;
  font-weight: 600;
  background: $light;
  border-radius: 3px;
  color: $dark;
  display: inline-block;
  transition: 0.35s ease-in-out !important;

  &:hover {
    background: darken($color: $light, $amount: 10);
  }

  &-primary {
    background: $primary-color;
    color: white;

    &:hover {
      background: darken($color: $primary-color, $amount: 10);
    }
  }

  &-secondary {
    background: $secondary-color;
    color: setTextColor($secondary-color);

    &:hover {
      background: darken($color: $secondary-color, $amount: 10);
    }
  }

  &-dark {
    background: $dark;
    color: setTextColor($dark);

    &:hover {
      background: darken($color: $dark, $amount: 10);
    }
  }

  &-small {
    padding: 0.5rem 0.75rem;
  }

  &-medium {
    padding: 0.75rem 1.25rem;
  }

  &-large {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.85rem 1.75rem;
  }

  &-block {
    width: 100%;
  }
}
